ENVIRONMENT=dev
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=vale_vision
MYSQL_USER=app
MYSQL_PASSWORD=change_me
AWS_REGION=sa-east-1
S3_BUCKET_RAW=vale-vision-raw-dev
S3_BUCKET_DEBUG=vale-vision-debug-dev
